<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mb-4 m-3">
                    <div class="row g">
                        <div class="col-md-9 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-6 align-items-center">
                                <div class="m-5">
                                    <p class="Title">Preencha os campos a baixo.</p>
                                </div>
                                <form class="form-group">

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="floatingEnd"
                                                placeholder="Seu Endereço">
                                            <label for="floatingEnd">Endereço</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="floatingCep"
                                                placeholder="00000-000">
                                            <label for="floatingCep">CEP</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" name="Referencia"
                                                id="floatingReferencia" placeholder="Proximo a Vila">
                                            <label for="floatingReferencia">Referencias</label>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-2">
                                            <input type="email" class="form-control" id="floatingEmail"
                                                placeholder="name@example.com">
                                            <label for="floatingEmail">Email address</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating form-floating-lg mb-2">
                                            <input type="tel" class="form-control form-control" id="floatingTel"
                                                placeholder="(00) 0 0000-0000">
                                            <label for="floatingTel">Telefone</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <select class="form-select form-select-lg m-2 fs-6" aria-label="Default select example">
                                            <option selected>Associação</option>
                                            <option value="1">Associação One</option>
                                            <option value="2">Associação Two</option>
                                            <option value="3">Associação Three</option>
                                          </select>
                                    </div>
                                    
                                        <div class="text-center d-inline">
                                            <button class="btn" type="button">Cancelar</button>
                                        </div>
    
                                        <div class="text-center d-inline">
                                            <button class="btn" type="button">Finalizar</button>
                                        </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
