<p class="Title1 text-center" >Selecione a Opção.</p>

<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="painelBtn">
                <div class="d-grid d-md-flex justify-content-center">
                    <div class="topLeft">
                        <button class="btn btn-success" type="button">
                            <img src="../../../assets/img/imgDashboard/imgVidro.png" alt="Imagem Reciclagem Vidro">
                            VIDRO
                        </button>
                    </div>
                    <div class="topRigth">
                        <button class="btn btn-danger" type="button">
                            <img src="../../../assets/img/imgDashboard/imgPlástico.png" alt="">
                            PLÁSTICO
                        </button>
                    </div>
                </div>

                <div class="d-grid d-md-flex justify-content-center">
                    <div class="bottonLeft">
                        <button class="btn btn-primary" type="button">
                            <img src="../../../assets/img/imgDashboard/imgPapel.png" alt="">
                            PAPEL
                        </button>
                    </div>
                    <div class="bottonRigth">
                        <button class="btn btn-warning" type="button">
                            <img src="../../../assets/img/imgDashboard/imgMetal.png" alt="">
                            METAL
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>