<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mb-4 m-3">
                    <div class="row g-0">
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-6 gap-3">

                                <div class="m-2">
                                    <p class="Title"> Recuperar senha </p>
                                </div>
                                <form class="form-grupo">

                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">Email</label>
                                    </div>

                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingNewPassword"
                                            placeholder="New Password">
                                        <label for="floatingNewPassword"> New Senha</label>
                                    </div>

                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="floatingConfirmPassword"
                                            placeholder="Confirm Password">
                                        <label for="floatingPassword"> Confirme Senha</label>
                                    </div>
                                    <div class="text-center">
                                        <button class="btnConfirm" type="button">Confirmar</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-4 painelRecovery">
                            <div class="block">
                                <div class="doteco fs-1">
                                    <p>DOT<b>ECO</b></p>
                                </div>

                                <div class="text-white text-center align-items-center">
                                    <p>Preencha os campos ao lado corretamente para alterar a sua
                                        senha.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>