<p>profile works!</p>

<section>
    <div class="conteiner-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="card mt-2 mb-4 m-3">
                    <div class="row g-1"></div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="card-body p-4 p-lg-6 gap-3">

                            <div class="d-flex">
                                <div>
                                    <button type="button" class="btn btn-success">Dados Pessoas</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success">Dados Pessoas</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success">Dados Pessoas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>