<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="card mt-2 mb-4 m-5">
                    <div class="d-flex align-items-center">
                        <div class="card-body p-4 p-lg-6">
                            <div class="text-center">
                                <div class="d-flex justify-content-evenly">
                                    <button class="btn" type="button">Dados Pessoa</button>

                                    <button class="btn" type="button">Meus Cupons</button>
                                </div>
                                <div>
                                    <button class="btn " type="button">Solicitaçoes Coleta</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>