<section class="coupons-header">
    <div class="text-center">
        <h1> Cupons </h1>
    </div>
    <div class="d-flex justify-content-around">
        <button type="button" class="btnCoupons" (click)="newCoupons(template)">Gerar</button>
        <button type="button" class="btnCoupons">Ativos</button>
        <button type="button" class="btnCoupons">Utilizados</button>
    </div>
</section>

<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mt-4 m-5">
                    <div class="card-body justify-content-center">
                        <div class="title text-center">
                            <p> Preencha os campos abaixo.</p>
                        </div>
                        <div class="form-group">
                            <div class="row m-4">
                                <label for="inputQtd" class="col-sm-6">Quantidade de
                                    cupons</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="input">
                                </div>
                            </div>
                            <div class="row m-4">
                                <label for="inputName" class="col-sm-6 col-form-label">Nome do cupom</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="input">
                                </div>
                            </div>
                            <div class="row m-4">
                                <label for="inputSelect" class="col-sm-6 col-form-label">Selecione o
                                    Desconto</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="input">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btnCoupons">Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Atualziando Dados
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="template.hide()"
                        aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" [formGroup]="couponsForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name" formControlName="name"
                                [ngClass]="{'is-invalid': couponsForm.get('name').errors 
                                    && couponsForm.get('name').touched}" />
                            <label for="name">Nome</label>
                            <div *ngIf="couponsForm.get('name').hasError('required') 
                                    && couponsForm.get('name').touched" class="invalid-feedback">
                                Nome é obrigatório.
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="quantity" formControlName="quantity" [ngClass]="{'is-invalid': couponsForm.get('quantity').errors 
                                    && couponsForm.get('quantity').touched }" />
                            <label for="quantity">Quantidade</label>
                            <div *ngIf="couponsForm.get('quantity').hasError('required') 
                                    && couponsForm.get('quantity').touched" class="invalid-feedback">
                                Quantidade é obrigatório.
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="percent" formControlName="percent"
                                name="percent" [ngClass]="{ 'is-invalid': couponsForm.get('percent').errors 
                                    && couponsForm.get('percent').touched}">
                            <label for="percent">Desconto %</label>
                            <div *ngIf="couponsForm.get('percent').hasError('required') 
                                        && couponsForm.get('percent').touched" class="invalid-feedback">
                                Desconto % é obrigatório.
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex">
                    <button class="btn btn-outline-secondary" (click)="template.hide()">
                        Fechar
                    </button>
                    <button class="btn btn-outline-primary ml-auto" [disabled]="!couponsForm.valid"
                        (click)="saveAlteration(template)">
                        Salvar Alterações
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>