<section class="coupons-header">
    <div class="text-center">
        <h1> Cupons </h1>
    </div>
    <div class="d-flex justify-content-around">
        <button type="button" class="btn">Gerar</button>
        <button type="button" class="btn">Ativos</button>
        <button type="button" class="btn">Utilizados</button>
    </div>
</section>

<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mt-4 m-5">
                    <div class="card-body justify-content-center">
                        <div class="title text-center">
                            <p> Preencha os campos abaixo.</p>
                        </div>
                        <div class="form-group">
                            <div class="row m-4">
                                <label for="inputQtd" class="col-sm-6">Quantidade de
                                    cupons</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="input">
                                </div>
                            </div>
                            <div class="row m-4">
                                <label for="inputName" class="col-sm-6 col-form-label">Nome do cupom</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="input">
                                </div>
                            </div>
                            <div class="row m-4">
                                <label for="inputSelect" class="col-sm-6 col-form-label">Selecione o
                                    Desconto</label>
                                <div class="col-sm-5">
                                    <input type="number" class="form-control" id="input">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn">Finalizar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>