.coupons-header{
    margin-top: 4rem;
    color: #42a877;
}

.coupons-header div{
    margin-top: 2rem;
}

.card {
    background: #FFFFFF;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
}

.card-body {
    height: 40.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #42a877;
    margin-bottom: 3rem;
    margin-top: -3rem;
}

.form-group .title {
    justify-content: center;
}

.form-group {
    color: #42a877;
}

.btnCoupons {
    /* Button */
    background: #42a877;
    border: 3px solid #42a877;
    border-radius: 30px;
    width: 176px;
    height: 48px;
    margin-top: 2.5rem;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #FFFFFF inset;
    /* Text */
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.btnCoupons:hover {
    box-shadow: -150px 0 0 #FFFFFF inset;
    color: #42a877;
    cursor: pointer;
}