<section class="container">
    <div class="d-flex justify-content-center" *ngIf="userUpdate.type == 3">
        <button title="Criar" class="btnCoupons text-center mb-2" (click)="newCoupons(template)">
            <i class="fa fa-plus-circle"></i>&nbsp;
            Gerar Cupom
        </button>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <tabset class="m-2">
                <tab heading="Disponíveis" id="tab1">

                    <div class="container">
                        <div class="mt-2 m-1">
                            <div class="row">
                                <div *ngFor="let coupons of couponsFilters" class="col-md-2 me-3 mt-1 mb-1">
                                    <div *ngIf="coupons.userId == null">
                                        <div class="cardCupon">
                                            <div class="text-center">
                                                <div class="d-flex flex-row text-center">
                                                    <div class="d-flex flex-column ml-1">
                                                        <h1 class="mb-0 percent">{{coupons.percent}}%</h1>
                                                        <span class="discount">Discount</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="line">
                                            <span class="company text-center fs-3">{{coupons.name}}</span>
                                            <hr class="line">
                                            <span class="text-white">discount for all customers across all country on
                                                all
                                                products at bbbootstrap.com</span>
                                            <div class="d-flex justify-content-center">
                                                <ng-container>
                                                    <button class="btnCoupons"
                                                        (click)="editCoupons(coupons, template)">Resgatar</button>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!coupons">
                            <tr>
                                <td colspan="12" class="text-center">
                                    <h4>
                                        Nenhum Cupom Disnponível!
                                    </h4>
                                </td>
                            </tr>
                        </div>
                    </div>
                </tab>

                <tab heading="Resgatado">
                    <div class="mt-2 m-1">
                        <div class="row">
                            <div *ngFor="let coupons of couponsFilters" class="col-md-2 me-3 mt-1 mb-1">
                                <div *ngIf="userUpdate.id == coupons.userId">
                                    <ng-container *ngIf="coupons.status === status.Active">
                                        <div class="cardCupon">
                                            <div class="text-center">
                                                <div class="d-flex flex-row text-center">
                                                    <div class="d-flex flex-column ml-1">
                                                        <h1 class="percent mb-0">{{coupons.percent}}%</h1>
                                                        <span class="discount">Discount</span>
                                                        <hr class="line">
                                                        <span class="company text-center fs-4">{{coupons.name}}</span>
                                                        <hr class="line">
                                                        <span class="company text-center fs-5">{{coupons.userId}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="line">
                                            <span class="text-white">Ultimate discount for all customers
                                                across all country on all products at bbbootstrap.com
                                            </span>
                                            <hr class="line">
                                            <span class="mt-1 text-white">{{coupons.status}}</span>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading="Usado">
                    <div class="mt-2 m-1">
                        <div class="row">
                            <div *ngFor="let coupons of couponsFilters" class="col-md-2 me-3 mt-1 mb-1">
                                <div *ngIf="userUpdate.id == coupons.userId">
                                    <ng-container *ngIf="coupons.status === status.Inactive">
                                        <div class="cardCupon">
                                            <div class="text-center">
                                                <div class="d-flex flex-row text-center">
                                                    <div class="d-flex flex-column ml-1">
                                                        <h1 class="percent mb-0">{{coupons.percent}}%</h1>
                                                        <span class="discount">Discount</span>
                                                        <hr class="line">
                                                        <span class="company text-center fs-4">{{coupons.name}}</span>
                                                        <hr class="line">
                                                        <span class="company text-center fs-5">{{coupons.userId}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="line">
                                            <span class="text-white">Ultimate discount for all customers
                                                across all country on all products at bbbootstrap.com
                                            </span>
                                            <hr class="line">
                                            <span class="mt-1 text-white">{{coupons.status}}</span>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>

                <tab heading="Empresa">
                    <div class="mt-2 m-1">
                        <div class="row">
                            <div *ngFor="let coupons of couponsFilters" class="col-md-2 me-3 mt-1 mb-1">
                                <div *ngIf="userUpdate.id == coupons.companyId">
                                    <div class="cardCupon">
                                        <div class="text-center">
                                            <div class="d-flex flex-row text-center">
                                                <div class="d-flex flex-column ml-1">
                                                    <h1 class="mb-0 percent">{{coupons.percent}}%</h1>
                                                    <span class="discount">Discount</span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="line">
                                        <span class="company text-center fs-3">{{coupons.name}}</span>
                                        <hr class="line">
                                        <span class="text-white">discount for all customers across all country on
                                            all
                                            products at bbbootstrap.com</span>
                                        <div class="d-flex justify-content-center">
                                            <ng-container>
                                                <button class="btnCoupons"
                                                    (click)="editCoupons(coupons, template)">Resgatar</button>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</section>


<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="template.hide()"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form class="form-group" [formGroup]="couponsForm">
                    <div class="row">
                        <div *ngIf="userUpdate.type == 3" class="form-floating mb-3 col-md-4">
                            <select class="form-select" id="companyId" formControlName="companyId" [ngClass]="{ 'is-invalid': couponsForm.get('companyId')?.errors 
                        && couponsForm.get('companyId')?.touched}">
                                <option value="" selected disabled hidden>Selecione uma Opção</option>
                                <option *ngFor="let company of userId | async as list" [value]="company.id">
                                    {{company.fullName}}</option>
                            </select>
                            <label for="companyId">Empresa</label>
                            <div *ngIf="couponsForm.get('companyId')?.hasError('required') 
                                && couponsForm.get('companyId')?.touched" class="invalid-feedback">
                                Escolha a Empresa que representa o Cupom.
                            </div>
                        </div>

                        <div *ngIf="userUpdate.type == 3" class="form-floating mb-3 col-md-4">
                            <input type="text" class="form-control" id="name" name="name" formControlName="name"
                                [ngClass]="{'is-invalid': couponsForm.get('name').errors 
                                    && couponsForm.get('name').touched}" />
                            <label for="name">Nome</label>
                            <div *ngIf="couponsForm.get('name').hasError('required') 
                                    && couponsForm.get('name').touched" class="invalid-feedback">
                                Nome é obrigatório.
                            </div>
                        </div>

                        <div *ngIf="userUpdate.type == 3" class="form-floating mb-3 col-md-2">
                            <input type="text" class="form-control" id="percent" formControlName="percent"
                                name="percent" [ngClass]="{ 'is-invalid': couponsForm.get('percent').errors 
                                    && couponsForm.get('percent').touched}">
                            <label for="percent">Desconto %</label>
                            <div *ngIf="couponsForm.get('percent').hasError('required') 
                                        && couponsForm.get('percent').touched" class="invalid-feedback">
                                Desconto % é obrigatório.
                            </div>
                        </div>

                        <div *ngIf="userUpdate.type == 1" class="form-floating mb-3 col-md-4">
                            <select class="form-select" id="userId" formControlName="userId" [ngClass]="{ 'is-invalid': couponsForm.get('userId')?.errors 
                        && couponsForm.get('userId')?.touched}">
                                <option value="" selected disabled hidden>Selecione uma Opção</option>
                                <option *ngFor="let user of userId | async as list" [value]="user.id">
                                    {{user.fullName}}</option>
                            </select>
                            <label for="userId">Cliente</label>
                            <div *ngIf="couponsForm.get('userId')?.hasError('required') 
                                && couponsForm.get('userId')?.touched" class="invalid-feedback">
                                Escolha o Tipo de Usuário.
                            </div>
                        </div>


                        <div *ngIf="userUpdate.type == 3" class="form-floating mb-3 col-md-2">
                            <select class="form-select" id="status" formControlName="status" [ngClass]="{ 'is-invalid': couponsForm.get('status')?.errors 
                    && couponsForm.get('status')?.touched}">
                                <option value="" selected disabled hidden>Selecione uma Opção</option>
                                <option value="0">Ativo</option>
                                <option value="1">Inativo</option>
                            </select>
                            <label for="status">status</label>
                            <div *ngIf="couponsForm.get('status')?.hasError('required') 
                                && couponsForm.get('status')?.touched" class="invalid-feedback">
                                Coloque o status comforme a situação da Coleta.
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer d-flex">
                <button class="btn btn-outline-secondary" (click)="template.hide()">
                    Fechar
                </button>
                <button class="btn btn-outline-primary ml-auto" [disabled]="!couponsForm.valid"
                    (click)="saveAlteration(template)">
                    Salvar Alterações
                </button>
            </div>
        </div>
    </div>
</div>