
.btnCoupons {
    /* Button */
    background: #42a877;
    border: .3rem solid #42a877;
    border-radius: 2.3rem;
    width: 12rem;
    height: 3rem;
    margin-top: 2.8rem;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #FFFFFF inset;
    /* Text */
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    color: #FFFFFF;
}

.btnCoupons:hover {
    box-shadow: -150px 0 0 #FFFFFF inset;
    color: #42a877;
    cursor: pointer;
}

.cardCupon {
    width: 16rem;
    border: none;
    height: 33rem;
    border-radius: 2rem;
    text-align: center;
    padding: 20px;
    background-color: #42a877
}

.percent {
    font-size: 4rem;
    color: #fff
}

.discount {
    font-size: 2.5rem;
    color: #fff
}

.company {
    font-size: 1.3rem;
    color: #fff
}

.line {
    color: #fff
}