<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mb-4 m-3">
                    <div class="row g-0">
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-6 gap-3">

                                <div class="m-5">
                                    <p class="Title1">Acesse sua conta agora mesmo.</p>
                                    <p class="subTitle">Preencha seus dados</p>
                                </div>

                                <form class="form-group" #loginForm="ngForm" (ngSubmit)="login()">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-3">
                                            <input type="email" id="email" class="form-control" placeholder="Email"
                                                name="email" required [(ngModel)]="model.email">
                                            <label for="email">Email</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" name="password"
                                                [(ngModel)]="model.password" id="password" placeholder="Password">
                                            <label for="password">Password</label>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button [disabled]="!loginForm.valid" class="btnLogin"
                                            type="submit">Entrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4 panelLogin">
                            <div class="block Title2">

                                <div class="doteco fs-1">
                                    <p>DOT<b>ECO</b></p>
                                </div>
                                <div class="fs-4 align-items-end">
                                    <div>BEM-VINDO DE VOLTA!</div>
                                </div>

                                <div class="mt-5 fs-4 fw-normal">
                                    <div>Criar sua conta</div>
                                </div>

                                <ul class="navbar-nav btnBlocoLogo mt-5">
                                    <li class="nav-item btnCadaster dropdown" dropdown>
                                        <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Cadastrar
                                        </a>
                                        <div *dropdownMenu class="dropdown-menu btnCadasterText"
                                            aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" (click)="router.navigate(['/user/registration'])">
                                                Cliente
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>