.navbar {
    background-color: #42a877;
    border-radius: 0rem 0rem .5rem .5rem;
    font-size: 1rem;
    line-height: 1.1rem;
}

.nav-link {
    color: #FFFFFF;
}

.doteco p {
    margin-bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    padding: 0rem 2rem 0rem 2rem;
}

.btnDotEco {
    background: #42a877;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    width: 6.2rem;
    height: 2.8rem;
    font-weight: 800;
    font-size: 1.1rem;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #42a877 inset;
}

.btnDotEco:hover {
    box-shadow: -150px 0 0 #FFFFFF inset;
    color: #42a877;
}