<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mb-4 m-3">
                    <div class="row g-0">
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-6">

                                <div class="m-5">
                                    <p class="Title">Acesse sua conta agora mesmo.</p>
                                    <p class="subTitle">Preencha seus dados</p>
                                </div>

                                <form class="form-group">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="name@example.com">
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button class="btnLogin" type="button">Entrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-4 painelLogin">
                            <button class="btnCadaster" type="button">
                                <div class="textCadaster">Cadastrar</div>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>