<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5">

                                <form class="form-group">


                                    <p class="title">
                                        Acesse sua conta agora mesmo.
                                    </p>

                                    <p class="subtitle">
                                        Preencha seus dados
                                    </p>

                                    <div class="mx-auto">
                                        <div class="form-outline mb-4">
                                            <input type="email" class=" form-control " placeholder="Email" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" class="form-control" placeholder="Password" />
                                        </div>
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <div class="text-center">
                                            <button class="btnlogin mx-auto" type="button">Entrar</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-md-4 d-none d-md-block bg-success">

                            <button class="btn btn-light btn-lg rounded-pill" type="button">Cadastrar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>