.form-control {
    height: 3.3rem;
    background: #E6E6E6;
}

input {
    max-width: 35rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 3rem;
    border-radius: 1rem;
}

label {
    font-weight: 900;
    font-size: 1.1rem;
    line-height: 2rem;
    color: darkgrey;
    transition: .7s;
}

.btnUpdate {
    /* Button */
    background: #42a877;
    border: 3px solid #42a877;
    border-radius: 30px;
    width: 176px;
    height: 3rem;
    margin-top: .9rem;
    margin-bottom: 1.8rem;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #FFFFFF inset;
    /* Text */
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #FFFFFF;
}

.btnUpdate:hover {
    box-shadow: -150px 0 0 #FFFFFF inset;
    color: #42a877;
    cursor: pointer;
}

/* ------------------- */
.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
    margin-right: .8rem;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}


.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}