
.btnAssociation {
    /* Button */
    background: #42a877;
    border: .3rem solid #42a877;
    border-radius: 2.3rem;
    width: 13rem;
    height: 3rem;
    margin-top: 2.8rem;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #FFFFFF inset;
    /* Text */
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: center;
    color: #FFFFFF;
}

.btnAssociation:hover {
    box-shadow: -150px 0 0 #FFFFFF inset;
    color: #42a877;
    cursor: pointer;
}

.btnAssociationDenied {
    /* Button */
    background: #e74c3c;
    border: .3rem solid #e74c3c;
    border-radius: 2.3rem;
    width: 15rem;
    height: 2.2rem;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #FFFFFF inset;
    /* Text */
    font-size: .9rem;
    line-height: 1.5rem;
    text-align: center;
    color: #FFFFFF;
}

.btnAssociationDenied:hover {
    box-shadow: -180px 0 0 #FFFFFF inset;
    color: #e74c3c;
    cursor: pointer;
}

.custom-pagination /deep/ .ngx-pagination{
    margin-bottom:0 !important;
}
.custom-pagination /deep/ .ngx-pagination li{
    margin-right: -1px !important;
}
.custom-pagination /deep/ .ngx-pagination a:first-of-type a:last-of-type li.current{
    background-color: #42a877 !important;
    border: 2px solid #787b7e !important;
    border-radius: .9rem;
    cursor: pointer;
    padding: 6px 12px !important;
    z-index: 999999 !important;
    position: relative;
}
.custom-pagination /deep/ .ngx-pagination li a:focus{
    outline:none;
}
.custom-pagination /deep/ .ngx-pagination a, .ngx-pagination button{
    color: #007bff !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
    padding: 6px 12px !important;

}
.custom-pagination /deep/ .ngx-pagination .disabled{
    pointer-events: none  !important;
    cursor: auto  !important;
    background-color: #fff  !important;
    padding: 6px 12px !important;
    border: 3px solid #2ecc71!important;
    background-color: #2ecc71!important;
    color: #fff!important;
    font-weight: bold!important;
}
