<div class="container">
    <div class="d-flex justify-content-center" *ngIf="userUpdate.type == 2">
        <button title="Criar" class="btnAssociation text-center mb-2" (click)="newAssociation(template)">
            <i class="fa fa-plus-circle"></i>&nbsp;
            Nova Associação
        </button>
    </div>

    <div class="card mt-5">
        <div class="card-body">
            <h3 class="card-header text-center">Associaçoes</h3>
            <div class="table-responsive-xxl">
                <table class="table table-sm text-center table-bordered border-success table-striped table-hover">
                    <thead class="table-success">
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>CEP</th>
                            <th>CNPJ</th>
                            <td>Telefone</td>
                            <th>Estado</th>
                            <th>Endereço</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="associations && associations.length">
                        <tr *ngFor="let associations of associations | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{associations.id}}</td>
                            <td>{{associations.name}}</td>
                            <td>{{associations.cep | mask: '00000-000'}}</td>
                            <td>{{associations.cpfCnpj | mask: '00.000.000/0000-00'}}</td>
                            <td>{{associations.telephone | mask: '(00) 0000-0000'}}</td>
                            <td>{{associations.state}}</td>
                            <td>{{associations.address}}</td>
                            <td>
                                <ng-container *ngIf="userUpdate.id === associations.userId">
                                    <button type="button" title="Excluir" class="btn btn-outline-danger me-2"
                                        (click)="deleteAssociation(associations, confirm)"><i
                                            class="fa fa-eraser"></i></button>
                                    <button type="button" title="Editar" class="btn btn-outline-warning me-2"
                                        (click)="editAssociation(associations, template)"><i
                                            class="fa fa-edit"></i></button>
                                </ng-container>
                                <ng-container *ngIf="userUpdate.id !== associations.userId">
                                    <button class="btnAssociationDenied">Sem Permissão!</button>
                                </ng-container>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="!associations">
                        <tr>
                            <td colspan="12" class="text-center">
                                <h4>
                                    Nenhuma Associação encontrada!
                                </h4>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="d-flex justify-content-center">
                    <pagination-controls class="custom-pagination" responsive="true" previousLabel="<" nextLabel=">"
                        (pageChange)="p = $event">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="template.hide()"
                        aria-label="Close">
                    </button>
                </div>
                <div *ngIf="userUpdate.type == 2">
                    <div class="modal-body">
                        <form class="form-group" [formGroup]="associationForm">
                            <div class="row">
                                <div class="form-floating mb-3 col-md-3">
                                    <input type="text" class="form-control" id="cep" formControlName="cep" [ngClass]="{'is-invalid': associationForm.get('cep').errors 
                                && associationForm.get('cep').touched }" mask="00000-000" />
                                    <label for="cep" class="ms-2">CEP</label>
                                    <div *ngIf="associationForm.get('cep').hasError('required') 
                                && associationForm.get('cep').touched" class="invalid-feedback">
                                        CEP é obrigatório.
                                    </div>
                                </div>

                                <div class="form-floating mb-3 col-md-3">
                                    <input type="text" class="form-control" id="telephone" formControlName="telephone"
                                        [ngClass]="{ 'is-invalid': associationForm.get('telephone').errors 
                                    && associationForm.get('telephone').touched}" />
                                    <div *ngIf="associationForm.get('telephone').hasError('required') 
                                    && associationForm.get('telephone').touched" class="invalid-feedback">
                                        Telefone é obrigatório.
                                    </div>
                                    <label for="telephone" class="ms-2">Telefone</label>
                                </div>

                                <div class="form-floating mb-3 col-md-3">
                                    <select class="form-select" id="state" formControlName="state" [ngClass]="{ 'is-invalid': associationForm.get('state').errors 
                                    && associationForm.get('state').touched}">
                                        <option value="" selected disabled hidden>Selecione um Estado</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                        <option value="DF">Distrito Federal</option>
                                    </select>
                                    <div *ngIf="associationForm.get('state').hasError('required') 
                                    && associationForm.get('state').touched" class="invalid-feedback">
                                        Estado é obrigatório.
                                    </div>
                                    <label for="state" class="ms-2">Estado</label>
                                </div>

                                <div class="form-floating mb-3 col-md-3">
                                    <input type="text" class="form-control" id="address" formControlName="address"
                                        [ngClass]="{ 'is-invalid': associationForm.get('address').errors 
                                    && associationForm.get('address').touched}" />
                                    <div *ngIf="associationForm.get('address').hasError('required') 
                                    && associationForm.get('address').touched" class="invalid-feedback">
                                        Endereço é obrigatório.
                                    </div>
                                    <label for="address" class="ms-2">Endereço</label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer d-flex">
                        <button class="btn btn-secondary" (click)="template.hide()">
                            Fechar
                        </button>
                        <button class="btn btn-primary ml-auto" [disabled]="!associationForm.valid"
                            (click)="saveAlteration(template)">
                            Salvar Alterações
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Deletando Associação
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="confirm.hide()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{bodyDeleteAssociation}}</p>
                </div>
                <div class="modal-footer btn-group d-flex">
                    <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
                        CENCELAR
                    </button>
                    <button type="button" class="btn btn-outline-danger" (click)="confirmDelete(confirm)">
                        DELETAR
                    </button>
                </div>
            </div>
        </div>
    </div>