<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mb-4 m-3">
                    <div class="row g-0">
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-6 gap-3">

                                <div class="m-5">
                                    <p class="Title1">Preencha os campos abaixo.</p>

                                    <form class="form-group">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="form-floating mb-2">
                                                <input type="email" class="form-control" id="floatingEmail"
                                                    placeholder="name">
                                                <label for="floatingName">Nome</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="form-floating mb-2">
                                                <input type="text" class="form-control" id="floatingSobreNome"
                                                    placeholder="SobreNome">
                                                <label for="floatingSobreNome">Sobrenome</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="form-floating mb-2">
                                                <input type="number" class="form-control" id="floatingCpf"
                                                    placeholder="CPF">
                                                <label for="floatingCpf">C.P.F</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="form-floating mb-2">
                                                <input type="email" class="form-control" id="floatingEmial"
                                                    placeholder="name@example.com">
                                                <label for="floatingEmail">Email</label>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="form-floating mb-2">
                                                <input type="password" class="form-control" id="floatingPassword"
                                                    placeholder="Password">
                                                <label for="floatingPassword">Password</label>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button class="btnCadaster" type="button">Cadastrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 panelCadaster">
                            <div class="doteco fs-1">
                                <div class="text-center">
                                    <p>DOT<b>ECO</b></p>
                                </div>
                            </div>
                            <div class="d-block justify-content-center text-center fs-6 text-uppercase">
                                <div class="text-white text-center align-items-center m-5">
                                    <p>Ao se cadastrar você estará confirmando que as informações inseridas, são
                                        verídicas.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>