<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mb-4 m-3">
                    <div class="row g-0">
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-6 gap-3">

                                <div class="mt-4">
                                    <p class="Title1">Preencha os campos abaixo.</p>
                                </div>

                                <form class="form-group">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingNome"
                                                placeholder="Meu Nome">
                                            <label for="floatingNome">Nome</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingNome"
                                                placeholder="Meu Nome">
                                            <label for="floatingNome">Sobrenome</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingCPF"
                                                placeholder="999.999.999-99">
                                            <label for="floatingCPF">CPF</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="floatingEmail"
                                                placeholder="Email">
                                            <label for="floatingEmail">Email address</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center align-items-center">
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button class="btnRegister" type="button">cadastrar</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4 panelRegister">
                            <div class="block Title2">

                                <div class="doteco fs-1">
                                    <div class="text-center">
                                        <p>DOT<b>ECO</b></p>
                                    </div>
                                </div>
                                <div class="d-block justify-content-center text-center fs-6 text-uppercase">
                                    <div class="text-white text-center align-items-center m-5">
                                        <p>Ao se cadastrar você estará confirmando que as informações inseridas, são
                                            verídicas.
                                        </p>
                                    </div>
                                </div>
                                <div>
                                    <button class="btnReturn" type="button" routerLink="">Voltar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>