.carousel-item .active img {
    width: 100vw;
    height: 51vh;
}

.carousel-inner img {
    height: 100vh;
    filter: brightness(75%);
}

.carousel-caption {
    margin-bottom: 5rem;
}

.between-about, h3{
    padding-top: 1.5rem;
    color: #42a877;
}

.between-partner {
    padding-top: 3rem;
    padding-bottom: 4rem;
    color: #42a877;

}

#about {
    margin-top: 4rem;
    box-sizing: border-box;
    background-image: #f5f5f5;
}

#about .card {
    margin: .5rem;
    border: none;
    box-shadow: .2rem .5rem .7rem rgb(0, 0, 0, .25);
}

#about .card .principal {
    border: none;
    text-align: justify;
    box-shadow: .2rem .5rem .7rem rgb(0, 0, 0, .35);
}

#about .sub {
    transition: 2s;
}

#about .sub:hover {
    cursor: pointer;
    transition: 1s;
    transform: translateY(-2%);
}

#about .principal:hover {
    cursor: pointer;
    transition: 1s;
    transform: translateY(-2%);
}

#about .card-body {
    color: #42a877;
}

#about .card-body li {
    list-style: none;
}

#about img {
    padding-bottom: 2rem;
}

#partner .card-text {
    padding-top: .9rem;
    color: #42a877;
}

#partner .card-title {
    font-size: large;
    padding-bottom: 3.5rem;
    color: #42a877;
}

#partner img {
    border-radius: .5rem;
}

footer {
    background-color: #42a877;
}

.copyright {
    font-size: small;
}