<p>home works!</p>
<carousel>
  <slide>
    <img src="../../../src/img/foto4.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>RECICLE</h3>
      <p>Tome um tempo para analisar seus hábitos. Tudo o que você compra é realmente necessário? Você está fazendo o máximo que pode para minimizar seu impacto sobre o planeta?</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/8.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>REDUZA</h3>
      <p>Diminua a quantidade de lixo produzido, a emissão de poluentes e o uso dos recursos naturais.</p>
      <p>Modere o consumo de produtos embalados, compre a granel, use sacos de tecido, reduza o consumo de água, energia
        e combustíveis.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/1.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>REUTILIZE</h3>
      <p>Transforme coisas velhas em novas com um pouco de criatividade e materiais que tem em casa, escolha produtos
        com embalagens retornáveis, faça seu próprio adubo com restos de alimentos.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/images/nature/1.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>RECICLE</h3>
      <p>Ao jogar o lixo separar os resíduos orgânicos dos recicláveis facilita a coleta seletiva e evita que os
        materiais se acumulem em aterros ou lixões evitando a poluição da água e do solo.
      </p>
    </div>
  </slide>
</carousel>
<section class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  <footer>

  </footer>
</section>