.carousel-item .active {
    height: 32rem;
    background-color: #5cad86;
}

.carousel-item .active img {
    height: 50vh;
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
}

.carousel-inner img {
    height: 100vh;
    filter: brightness(81%);
    
}

.carousel-caption {
    position: absolute;
    top: 55%;
    transform: translateY(-49%);
}

.carousel-caption h1 {
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-caption p {
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* entre carruosel BETWEEN */

#between .card-body {
    margin-top: 4rem;
}

#between .between-text {
    text-shadow: .1rem .1rem .3rem rgb(37, 35, 35);
    font-size: 3rem;
    color: #42a877;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* gradient about 
.grandient {
    background: linear-gradient(to bottom, #42a877, #65e6a7, #d8d7d7, #FFFFFF)
}
about vertical
#conteiner .card-text {
    text-shadow: 1.1rem 1.1rem 1.1rem 1.1rem rgb(218, 195, 173);
    font-size: medium;
}
*/

/*  conteiner do card  */
#conteiner .card {
    background: none;
    top:15%;
    border:none;
    text-align: center;
    margin: 1.5rem;
}

/* Partner gradient */

#partner .grandient {
    background: linear-gradient(to top, #42a877, #65e6a7, #d8d7d7, #FFFFFF);
}

/* Partner Parceiros Site */

#partner .card {
    border-radius: 1.2rem;
    width: 26.5rem;
    height: 35rem;
}

#partner .card-text {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#partner .card-title {
    font-size: x-large;
    padding: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#partner img {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    width: 26.4rem;
    height: 18rem;
}

/* roda pé footer */

footer {
    background-color: #42a877;
}

.copyright {
    font-size: small;
}