<carousel>
    <slide>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/imgHome/foto1.png" alt="Recicle_imagem" class="d-block">
                <div class="carousel-caption">
                    <h1>REPENSE</h1>
                    <p>Tome um tempo para analisar seus hábitos.</p>
                </div>
            </div>
        </div>
    </slide>
    <slide>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/imgHome/foto2.png" alt="Recicle_imagem" class="d-block">
                <div class="carousel-caption">
                    <h1>REDUZA</h1>
                    <p>Diminua a quantidade de lixo não recicláveis.</p>
                </div>
            </div>
        </div>
    </slide>
    <slide>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/imgHome/foto3.png" alt="Recicle_imagem" class="d-block">
                <div class="carousel-caption">
                    <h1>REUTILIZE</h1>
                    <p>Transforme o velhas em novas com criatividade e materiais.</p>
                </div>
            </div>
        </div>
    </slide>
    <slide>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/img/imgHome/foto4.png" alt="Recicle_imagem" class="d-block">
                <div class="carousel-caption">
                    <h1>RECICLE</h1>
                    <p> Separar os resíduos orgânicos dos recicláveis.</p>
                </div>
            </div>
        </div>
    </slide>
</carousel>
<section class="between-about">
    <div class="card-black-50 justify-content-center">
        <div class="card-body text-center">
            <h3 class="fs-1"> Sobre o DOT<b>ECO</b></h3>
        </div>
    </div>
</section>
<section id="conteiner" class="py-5">
    <div class="card">
        <div class="card-body">
            <div>
                <img src="../../../assets/img/imgHome/values.png" alt="LogoValues">
            </div>
            <div>
                <p class="card-text text-center">
                    Unir cooperativas, pessoas e empresas ao desenvolvimento sustentável.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div>
                <img src="../../../assets/img/imgHome/mission.png" alt="LogoMissao">
            </div>
            <div>
                <p class="card-text text-center">
                    O DotEco visa a sustentabilidade do planeta, através da reciclagem do
                    lixo produzidos, que interliga cooperativas ou associações com
                    pessoas que desejam destinar corretamente ao seu lixo.
                </p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div>
                <img src="../../../assets/img/imgHome/vision.png" alt="logoVisao">
            </div>
            <div>
                <p class="card-text text-center">
                    Reciclagem e benefícios e assim
                    diminuindo o impacto ambiental do consumo.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="between-partner">
    <div class="card-black-50">
        <div class="card-body text-center">
            <h3 class="fs-1"> Parceiros e Atividades</h3>
        </div>
    </div>
</section>

<section id="partner">
    <div class="container pb-5">
        <div class="row pt-3 pb-5 text-center">
            <div class="col-lg-4 p-4">
                <div class="card">
                    <img src="../../../assets/img/imgHome/reciclador.png " class="card-img-top" alt="Seja_Parceiro">
                    <div class="card-body">
                        <h6 class="card-title">Seja um Parceiro</h6>
                        <p class="card-text">Se voce é de Olinda, ou na região metropolitana, precisa conhecer essa
                            campanha que está renovando mais do que plástico.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card">
                    <img src="../../../assets/img/imgHome/ColetaSeletiva.png" class="card-img-top"
                        alt="Seja_Reciclador">
                    <div class="card-body">
                        <h6 class="card-title">Seja um Reciclador</h6>
                        <p class="card-text">Desenvolva Programas com investimentos diretos nas cooperativas
                            selecionadas visando a qualificação da atividade de reciclagem.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-4">
                <div class="card">
                    <img src="../../../assets/img/imgHome/teamwork.png" class="card-img-top"
                        alt="Cooperativas_Associações">
                    <div class="card-body">
                        <h6 class="card-title">Cooperativas e Associações</h6>
                        <p class="card-text">Sua organização entrar com participação de forma alinhada e colaborativa
                            para prover mais recursos em busca dos melhores resultados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="text-center text-lg-start text-white ">
    <div class="container pt-4 text-white text-center text-white">
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="#!" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="copyright text-center text-white p-3">
        © 2020 Doteco. All rights reserved.
    </div>
</footer>