/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/*Custom Scroolbar*/
body::-webkit-scrollbar {
    width: 7px;
}
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#FFFFFF, #4EEEA1);
    border-radius: .9rem;
}
/*Custom Scroolbar*/