<div class="container">
    <div class="d-flex justify-content-center" *ngIf="userUpdate.type == 1">
        <button title="Criar" class="btnCollectionData text-center mb-2" (click)="newCollectionData(template)">
            <i class="fa fa-plus-circle"></i>&nbsp;
            Nova Coleta
        </button>
    </div>

    <div class="card mt-5">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-sm-4 mb-2">
                    <div class="form-inline">
                        <div class="form-floating mb-3">
                            <input id="search" type="text" class="form-control mr-2" [(ngModel)]="filterList" />
                            <label for="search">Pesquisar</label>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="card-header text-center">Coletas Agendadas</h3>
            <div class="table-responsive-md" *ngFor="let collectiondatas of collectiondatasFilters">
                <table class="table table-sm text-center table-bordered border-success table-striped table-hover"
                    *ngIf="userUpdate.id == collectiondatas.associationId">
                    <thead class="table-success">
                        <tr>
                            <th>cep</th>
                            <th>address</th>
                            <th>reference</th>
                            <th>email</th>
                            <th>telephone</th>
                            <th>tipo de Coleta</th>
                            <th>date</th>
                            <th>associação</th>
                            <th>statusClient</th>
                            <th>statusAssociation</th>
                            <th>opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{collectiondatas.cep | mask: '00000-000'}}</td>
                            <td>{{collectiondatas.address}}</td>
                            <td>{{collectiondatas.reference}}
                            <td>{{collectiondatas.email}}</td>
                            <td>{{collectiondatas.telephone | mask: '(00)00000-0000'}}</td>
                            <td>{{collectiondatas.typeCollection}}</td>
                            <td>{{collectiondatas.date}}</td>
                            <td>{{collectiondatas.associationId}}</td>
                            <td>{{collectiondatas.statusClient}}</td>
                            <td>{{collectiondatas.statusAssociation}}</td>
                            <td>
                                <div *ngIf="collectiondatas.statusClient !== collectiondatas.statusAssociation"
                                    class="container">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-danger"
                                            (click)="deleteCollectionData(collectiondatas, confirm)"><i
                                                class="fa fa-eraser"></i></button>
                                        <button type="button" class="btn btn-warning"
                                            (click)="editCollectionData(collectiondatas, template)"><i
                                                class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                                <div *ngIf="collectiondatas.statusClient === collectiondatas.statusAssociation">
                                    Parabéns +1!
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="!collectiondatas">
                        <tr>
                            <td class="text-center">
                                <h4>
                                    Nenhuma Coleta encontrada!
                                </h4>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <table class="table table-sm text-center table-bordered border-success table-striped table-hover"
                    *ngIf="userUpdate.id == collectiondatas.userId">
                    <thead class="table-success">
                        <tr>
                            <th>cep</th>
                            <th>address</th>
                            <th>reference</th>
                            <th>email</th>
                            <th>telephone</th>
                            <th>tipo de Coleta</th>
                            <th>date</th>
                            <th>associação</th>
                            <th>statusClient</th>
                            <th>statusAssociation</th>
                            <th>opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{collectiondatas.cep | mask: '00000-000'}}</td>
                            <td>{{collectiondatas.address}}</td>
                            <td>{{collectiondatas.reference}}
                            <td>{{collectiondatas.email}}</td>
                            <td>{{collectiondatas.telephone | mask: '(00)00000-0000'}}</td>
                            <td>{{collectiondatas.typeCollection}}</td>
                            <td>{{collectiondatas.date}}</td>
                            <td>{{collectiondatas.associationId}}</td>
                            <td>{{collectiondatas.statusClient}}</td>
                            <td>{{collectiondatas.statusAssociation}}</td>
                            <td>
                                <div *ngIf="collectiondatas.statusClient !== collectiondatas.statusAssociation"
                                    class="container">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-danger"
                                            (click)="deleteCollectionData(collectiondatas, confirm)"><i
                                                class="fa fa-eraser"></i></button>
                                        <button type="button" class="btn btn-warning"
                                            (click)="editCollectionData(collectiondatas, template)"><i
                                                class="fa fa-edit"></i></button>
                                    </div>
                                </div>
                                <div *ngIf="collectiondatas.statusClient === collectiondatas.statusAssociation">
                                    Parabéns +1!
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot *ngIf="!collectiondatas">
                        <tr>
                            <td class="text-center">
                                <h4>
                                    Nenhuma Coleta encontrada!
                                </h4>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Atualziando Dados
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="template.hide()"
                        aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-group" [formGroup]="collectiondataForm">
                        <div *ngIf="userUpdate.type == 1">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="userId" formControlName="userId" [ngClass]="{ 'is-invalid': collectiondataForm.get('userId')?.errors 
                                        && collectiondataForm.get('userId')?.touched}">
                                    <option value="" selected disabled hidden>Selecione uma Opção</option>
                                    <option *ngFor="let user of userId | async as list" [value]="user.id">
                                        {{user.fullName}}</option>
                                </select>
                                <label for="userId">Cliente</label>
                                <div *ngIf="collectiondataForm.get('userId')?.hasError('required') 
                                && collectiondataForm.get('userId')?.touched" class="invalid-feedback">
                                    Escolha o Tipo de Usuário.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="address" formControlName="address"
                                    [ngClass]="{'is-invalid': collectiondataForm.get('address')?.errors 
                                && collectiondataForm.get('address')?.touched }" mask="00000-000" />
                                <label for="address">address</label>
                                <div *ngIf="collectiondataForm.get('address')?.hasError('required') 
                                && collectiondataForm.get('address')?.touched" class="invalid-feedback">
                                    address é obrigatório.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="cep" formControlName="cep" [ngClass]="{'is-invalid': collectiondataForm.get('cep')?.errors 
                                && collectiondataForm.get('cep')?.touched }" mask="00000-000" />
                                <label for="cep">CEP</label>
                                <div *ngIf="collectiondataForm.get('cep')?.hasError('required') 
                                && collectiondataForm.get('cep')?.touched" class="invalid-feedback">
                                    CEP é obrigatório.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="reference" formControlName="reference"
                                    name="reference" [ngClass]="{ 'is-invalid': collectiondataForm.get('reference')?.errors 
                                && collectiondataForm.get('reference')?.touched}">
                                <label for="reference">Referência</label>
                                <div *ngIf="collectiondataForm.get('reference')?.hasError('required') 
                                    && collectiondataForm.get('reference')?.touched" class="invalid-feedback">
                                    Referência é obrigatório.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': collectiondataForm.get('email')?.errors 
                                    && collectiondataForm.get('email')?.touched}" />
                                <label for="email">Email</label>
                                <div *ngIf="collectiondataForm.get('email')?.hasError('required') 
                                    && collectiondataForm.get('email')?.touched" class="invalid-feedback">
                                    Email é obrigatório.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="typeCollection"
                                    formControlName="typeCollection" [ngClass]="{ 'is-invalid': collectiondataForm.get('typeCollection')?.errors 
                                    && collectiondataForm.get('typeCollection')?.touched}" />
                                <label for="typeCollection">Tipo Reciclável</label>
                                <div *ngIf="collectiondataForm.get('typeCollection')?.hasError('required') 
                                    && collectiondataForm.get('typeCollection')?.touched" class="invalid-feedback">
                                    Tipo de Coleta é obrigatório.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="telephone" formControlName="telephone"
                                    [ngClass]="{ 'is-invalid': collectiondataForm.get('telephone')?.errors 
                                    && collectiondataForm.get('telephone')?.touched}"
                                    mask="(00)0000-0000||(00)00000-0000" />
                                <label for="telephone">Telefone</label>
                                <div *ngIf="collectiondataForm.get('telephone')?.hasError('required') 
                                    && collectiondataForm.get('telephone')?.touched" class="invalid-feedback">
                                    telephone é obrigatório.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="statusClient" formControlName="statusClient" [ngClass]="{ 'is-invalid': collectiondataForm.get('statusClient')?.errors 
                                    && collectiondataForm.get('statusClient')?.touched}">
                                    <option value="" selected disabled hidden>Selecione uma Opção</option>
                                    <option value="0">Agendado</option>
                                    <option value="1">Confirmado</option>
                                    <option value="2">Recusado</option>
                                </select>
                                <label for="statusClient">statusClient</label>
                                <div *ngIf="collectiondataForm.get('statusClient')?.hasError('required') 
                                    && collectiondataForm.get('statusClient')?.touched" class="invalid-feedback">
                                    Coloque o statusClient comforme a situação da Coleta.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="associationId" formControlName="associationId"
                                    [ngClass]="{ 'is-invalid': collectiondataForm.get('associationId')?.errors 
                            && collectiondataForm.get('associationId')?.touched}">
                                    <option value="" selected disabled hidden>Selecione uma Opção</option>
                                    <option *ngFor="let association of associationId | async as list"
                                        [value]="association.id">
                                        {{association.id}}</option>
                                </select>
                                <label for="associationId">Associação</label>
                                <div *ngIf="collectiondataForm.get('associationId')?.hasError('required') 
                                    && collectiondataForm.get('associationId')?.touched" class="invalid-feedback">
                                    Escolha o Tipo de Usuário.
                                </div>
                            </div>
                        </div>

                        <div *ngIf="userUpdate.type == 2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="date" name="date" bsDatepicker
                                    [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }" [ngClass]="{'is-invalid': collectiondataForm.get('date')?.errors 
                                    && collectiondataForm.get('date').touched}" formControlName="date">
                                <label for="address">Data de Coleta</label>
                                <div *ngIf="collectiondataForm.get('date')?.hasError('required') 
                                    && collectiondataForm.get('date')?.touched" class="invalid-feedback">
                                    Data de Coleta é obrigatório.
                                </div>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="statusAssociation" formControlName="statusAssociation"
                                    [ngClass]="{ 'is-invalid': collectiondataForm.get('statusAssociation')?.errors 
                                    && collectiondataForm.get('statusAssociation')?.touched}">
                                    <option value="" selected disabled hidden>Selecione uma Opção</option>
                                    <option value="0">Agendado</option>
                                    <option value="1">Confirmado</option>
                                    <option value="2">Recusado</option>
                                </select>
                                <label for="statusAssociation">statusAssociation</label>
                                <div *ngIf="collectiondataForm.get('statusAssociation')?.hasError('required') 
                                    && collectiondataForm.get('statusAssociation')?.touched" class="invalid-feedback">
                                    Coloque o statusAssociation comforme a situação da Coleta.
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer d-flex">
                    <button class="btn btn-secondary" (click)="template.hide()">
                        Fechar
                    </button>
                    <button class="btn btn-primary ml-auto" [disabled]="!collectiondataForm.valid"
                        (click)="saveAlteration(template)">
                        Salvar Alterações
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Deletando Coleta
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="confirm.hide()"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{bodyDeleteCollectionData}}</p>
                </div>
                <div class="modal-footer btn-group d-flex">
                    <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
                        CENCELAR
                    </button>
                    <button type="button" class="btn btn-outline-danger" (click)="confirmDelete(confirm)">
                        DELETAR
                    </button>
                </div>
            </div>
        </div>
    </div>