
.btnCollectionData {
    /* Button */
    background: #42a877;
    border: .3rem solid #42a877;
    border-radius: 2.3rem;
    width: 12rem;
    height: 3rem;
    margin-top: 2.8rem;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #FFFFFF inset;
    /* Text */
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    color: #FFFFFF;
}

.btnCollectionData:hover {
    box-shadow: -150px 0 0 #FFFFFF inset;
    color: #42a877;
    cursor: pointer;
}

.btnCollectionDataTable {
    /* Button */
    background: #42a877;
    border: .3rem solid #42a877;
    border-radius: 2.3rem;
    width: 9rem;
    height: 1.8rem;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #FFFFFF inset;
    /* Text */
    font-size: .9rem;
    line-height: 1.4rem;
    text-align: center;
    color: #FFFFFF;
}

.btnCollectionDataTable:hover {
    box-shadow: -150px 0 0 #FFFFFF inset;
    color: #42a877;
    cursor: pointer;
}

.table {
    font-size: .8rem;
}