<p>Selecione a opção deseja para solicitar a coleta.</p>

<section>
    <div class="container-fluid py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-9">
                <div class="card mt-2 mb-4 m-3">
                    <div class="row g-0">
                        <div class="d-flex justify-content-center">
                            <div class="card-body p-4 p-lg-6 gap-0">
                                <div class="painelBtn">
                                    <div class="top d-flex mb-5 justify-content-center">
                                        <div class="topLeft">
                                            <button class="btnGlass" type="button">VIDRO</button>
                                        </div>
                                        <div class="topRigth">
                                            <button class="btnPlastic" type="button">PLÁSTICOS</button>
                                        </div>
                                    </div>
                                    <div class="botton d-flex justify-content-center">
                                        <div class="bottonLeft">
                                            <button class="btnMetal" type="button">PAPEL</button>
                                        </div>
                                        <div class="bottonRigth">
                                            <button class="btnPaper" type="button">METAL</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>