.card {
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title {
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 2rem;
    color: #42a877;
}

input {
    margin-bottom: 1.5rem;
    width: 25rem;
    font-weight: 900;
    font-size: 2rem;
    line-height: 3rem;
    border-radius: 1rem;
}

label {
    font-weight: 900;
    font-size: 1.1rem;
    line-height: 2rem;
    color: darkgrey;
    transition: .7s;
}

.btnConfirm {
    /* Button */
    background: #42a877;
    border: 3px solid #42a877;
    border-radius: 30px;
    width: 176px;
    height: 48px;
    margin-top: 2.5rem;
    box-shadow: 0 0 1px #ccc;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    box-shadow: 0px 0 0 #FFFFFF inset;
    /* Text */
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

.btnConfirm:hover {
    box-shadow: -150px 0 0 #FFFFFF inset;
    color: #42a877;
    cursor: pointer;
}

.painelRecovery {
    color: #FFFFFF;
    background: #42a877;
    padding-top: .9rem;
    padding-bottom: .9rem;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
}

.block {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doteco p {
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}